<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendBLE">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.profil.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.classes.MyClassesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.classes.ClassDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.classes.CreerClasseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.serve.ServeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.serve.ActiveSessionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.serve.SessionClosedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prof.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.profil.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.classes.MyClassesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.classes.JoinClassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.scan.SearchingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.scan.SessionCodeActivity"
            android:exported="false" />
    </application>

</manifest>